# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd
*.pyo

# Jupyter notebooks' hidden files
.ipynb_checkpoints/

# === Virtual Environments ===
venv/
env/
.venv/
ENV/

# === OS Crap ===
.DS_Store
Thumbs.db

# === Logs and Reports ===
*.log
*.html
*.csv
*.xlsx
*.tsv
logs/
*.out

# === Datasets & Artifacts ===
data/
*.zip
*.tar.gz
*.rar

# === Models & Checkpoints ===
checkpoints/
models/
*.pth
*.pt
*.h5
*.joblib
*.pkl
*.onnx

# === Configs & Secrets ===
config.yaml
secrets.yaml
.env

# === MLFlow / ZenML / Others ===
mlruns/
zenml_artifacts/
pipelines/
cache/
outputs/

# === Profiling Reports ===
*profile_report.html
*eda_report.html

# === IDE Files ===
.vscode/
.idea/

# === Misc ===
*.bak
*.swp
*.tmp
*.old

#Extra files to ignore
.\Interview.txt
.\01_CSV_Samurai.zip